# Environnements virtuels Python
*/venv/
venv/

# Secrets et credentials
.env
*.tfvars
.aws/
*.pem

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Python
__pycache__/
*.pyc

ml/venv/
ml/*.parquet
ml/*.joblib

nginx/logs/

# Checkpoints Spark
/tmp/checkpoints/
